@charset "utf-8";

/*-----------------------
Général
-----------------------*/

body {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #242424;
  color: #737373;
  height: 100vh;
}

#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#hacking,
#scanning {
  height: 60%;
  background-image: url("../img/binaire.jpg");
}

.container {
  padding: 5%;
}

h1 {
  font-size: 1.5em;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*-----------------------
Section "timer"
-----------------------*/

#timer {
  border-bottom: solid;
  top: 0;
  height: 15%;
  text-align: center;
}


/*------------------
Section "piratage"
------------------*/

#hacking {
  background-color: #242424;
  background-image: url("../img/binaire.jpg");
}

input[type=text] {
  background-color: #242424;
  box-sizing: border-box;
  border: 2px solid #737373;
  border-radius: 75px;
  color: #737373;
  padding: 15px 10px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.25em;
}

input[type=text]:focus {
  border-color: #56c2b0;
}

input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #242424;
  border: none;
  color: #56c2b0;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  font-size: larger;
}

/*-----------------------
Menu de navigation
------------------------*/

nav {
  background: #242424;
  bottom: 0;
  display: flex;
  align-items: center;
  position: fixed;
  height: 20%;
  border-top: solid;
  padding: 5%;
}

.icon-container {
  width: 33%;
}

.icon-side {
  width: 70%;
  margin: auto;
}

.icon-middle {
  width: 50%;
  margin: auto;
}