@charset "utf-8";

/*-----------------------
Général
-----------------------*/

body {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  margin: 0;
  padding: 0;
  background: #242424;
  color: #f0f0f0;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

#hacking,
#scanning {
  height: 60%;
  background-image: url("../img/binaire.jpg");
}

.container {
  padding: 5%;
}

h1 {
  font-size: 1.5em;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*-----------------------
Section "timer"
-----------------------*/

#timer {
  border-bottom: solid;
  top: 0;
  height: 15%;
  text-align: center;
}


/*------------------
Section "piratage"
------------------*/

#codeInput {
  margin-top: 25%;
  padding-bottom: 6%;
  padding-left: 20%;
  padding-right: 15%;
  border-bottom: solid;
  border-top: solid;
  background-color: #242424;
}


input[type=text] {
  background-color: #242424;
  box-sizing: border-box;
  border: 2px solid #f0f0f0;
  border-radius: 75px;
  color: #f0f0f0;
  padding: 15px 10px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.25em;
}

input[type=text]:focus {
  border-color: #56c2b0;
}

input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #242424;
  border: none;
  color: #56c2b0;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  font-size: 1.5em;
}

/*------------------
Image Derrière
-------------------*/

#scanning .container {
  height: 60%;
  background-image: url("../img/binaire.jpg");

}

/*-----------------------
Menu de navigation
------------------------*/

nav {
  background: #242424;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 20%;
  border-top: solid;
  padding: 5%;
}

.icon-container {
  width: 33%;
}

.icon-side {
  width: 70%;
  margin: auto;
}

.icon-middle {
  width: 60%;
  margin: auto;
}
