@charset "utf-8";

/*-----------------------
Général
-----------------------*/

body {
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  margin: 0;
  background: #242424;
  color: #737373;
}

.container {
  border-bottom: solid;
  border-top: solid;
}

#hacking h1 {
  font-size: 1.5em;
}

/*-----------------------
Section "timer"
-----------------------*/

#timer {
  width: 100vw;
  height: 25%;
  padding: 3%;
  align-content: center;
  text-align: center;
}


/*------------------
Section "piratage"
------------------*/

#codeInput {
  margin-top: 25%;
  padding-bottom: 6%;
  padding-left: 20%;
  padding-right: 15%;
  border-bottom: solid;
  border-top: solid;
  background-color: #242424;
}

#hacking .container {
  height: 329px;
  background-image: url("../img/binaire.jpg");
}

input[type=text] {
  background-color: #242424;
  box-sizing: border-box;
  border: 2px solid #737373;
  border-radius: 75px;
  color: #737373;
  padding: 15px 10px;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.25em;
}

input[type=text]:focus {
  border-color: #56c2b0;
}

input[type=button],
input[type=submit],
input[type=reset] {
  background-color: #242424;
  border: none;
  color: #56c2b0;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  font-size: larger;
}

/*------------------
Image Derrière
-------------------*/

#scanning .container {
  height: 329px;
  background-image: url("../img/binaire.jpg");
  border-bottom: solid;
  border-top: solid;
}

/*-----------------------
Menu de navigation
------------------------*/

nav {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 25%;
  width: 100vw;
}

.icon-container {
  width: 33%;
}

.icon-side {
  width: 80%;
  margin: auto;
}

.icon-middle {
  width: 60%;
  margin: auto;
}
