<!doctype html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">

		<title>La Nuit des Voleurs</title>

		<link rel="stylesheet" type="text/css" href="css/style.css">

		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js"></script>
		<script defer src="js/main.js"></script>
	</head>

	<body>
		<!-- Début de la section dans laquelle VueJS est utilisé -->
		<div id="app">

			<!-- CHRONOMÈTRE -->
			<section id="timer" class="container vertical-align no-padding">
				<div>
					<h1>Temps restant</h1>
					<p>{{ timeLeft }}</p>
				</div>
			</section>

			<!-- PIRATER UN CODE -->
			<section id="hacking"  class="container vertical-align no-padding" v-if="activeSection == 'hacking'">
				<div>
					
						<h1>Argent : {{ user.cash }} $</h1>
						<div>
							<input type="text" name="codeFinal" placeholder="Entrez un code" v-model="inputCode" @keyup.enter="verifyCode"
							 autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
							<br>
							<br>
							<input type="submit" value="Valider" v-on:click="verifyCode">
						</div>
					
				</div>
			</section>

			<!-- SCANNER UN CODE -->
			<section id="scanning" class="container vertical-align no-padding" v-else-if="activeSection == 'scanning'">
				<div >
					<p>Scannez un code</p>
				</div>
			</section>

			<!-- MENU DE NAVIGATION -->
			<nav>
				<div class="icon-container">
					<img class="icon icon-side" src="img/IconesCode.png" v-on:click="activeSection = 'hacking'">
				</div>
				<div class="icon-container">
					<img class="icon icon-middle" src="img/IconesLampe.png" v-on:click="flashlightSwitch()">
				</div>
				<div class="icon-container">
					<img class="icon icon-side" src="img/IconesRA.png" v-on:click="activeSection = 'scanning'">
				</div>
			</nav>

		</div>
	</body>

</html>